
<div class="container-fluid footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer" aria-expand="false">
                <span class="sr-only">Toggle navigation</span> Add/Delete Listing
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="footer">
            <ul class="nav navbar-nav">
                <li><a href="view/addListing.php">Add A Listing</a></li>
                <li><a href="view/deleteListing.php">Delete A Listing</a></li>
            </ul> 
            <ul class="nav navbar-nav navbar-right">
                <li><a href="view/contactUs.php">About Us/Contact Us</a></li>
            </ul>               
        </div>
    </nav>
</div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    </body>
</html>